* {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.contenter {
    width: 950px;
    margin: 30px auto 0 auto;
}

.h2-class {
    text-decoration: none;
    font-size: 24px;
    color: #494949;
    margin-right: 10px;
    width: 100px;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.over-hide {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.color-red {
    color: red;
}

ul li {
    list-style: none;
}

body {
    height: 9199px;
    min-width: 1024px;
}

body .bgc:nth-child(2n) {
    background-color: #f7f7f7;
}

