@import 'common.css';

/* 头部样式 开始 */

.header {
    height: 34px;
}

.header-left h1 span {
    display: none;
}

.header-left h1 {
    width: 160px;
    height: 34px;
    margin-right: 20px;
}

.header-left h1 a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url('../img/logo_db.png') no-repeat left top/100% 100%;
}

.header-main {
    border: 1px solid #c3c3c3;
    width: 270px;
    height: 30px;
    position: relative;
}

.header-main input {
    width: 86%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 5px;
}

.header-main>div {
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.header-main>div>img {
    margin-top: 10px;
    margin-left: 6px;
}

.header-main input::placeholder {
    color: #ccc;
}

.header-right {
    margin-left: 20px;
    height: 30px;
}

.header-right ul li {
    width: 40px;
    height: 20px;
    list-style: none;
    float: left;
    margin-left: 17px;
}

.header-right ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.header-right ul {
    line-height: 40px;
}

.img1 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
}

.img2 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -60px;
}

.img3 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -120px;
}

.img4 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -180px;
}

.img5 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -240px;
}

.img6 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -300px;
}

.img7 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -360px;
}

.img8 {
    background: url(../img/anony_nav_logo.png) no-repeat left top;
    background-position-x: -420px;
}

.header-right ul li:last-child {
    width: 43px;
}


/* 头部样式 结束 */


/* 登录区域样式 开始 */

.app {
    margin-top: 30px;
    height: 320px;
    background-size: contain;
    background: #edf4ed url('../img/app_img.jpg') no-repeat calc(50% - 305px) top;
}

.app-left1 h1 {
    font-size: 25px;
    font-weight: 400
}

.app-left1 {
    margin: 90px 30px 0 0;
}

.app-left1 img {
    height: 28px;
    width: 28px;
}

.app-left1 button {
    background-color: #00B51D;
    border: none;
    outline: none;
    padding: 9px 21px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px
}

.app-left1 button,
.app-left1 img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}


/* 登录区域样式 结束 */


/* 新闻区域样式 开始 */
.new {
    margin-bottom: 50px;
    background-color: #fff;
}

.new-content {
    margin-top: 10px;
}

.new .new-content .new-left {
    width: 350px;
}

.new .new-content .new-right {
    width: 265px;
}

.new .new-content .new-main {
    overflow: hidden;
    padding-right: 20px;
    padding-top: 14px;
}

.new .title-img img {
    width: 100%;
    display: block;
}

.title-top span:nth-child(2)::before {
    content: '（';
}

.title-top span:nth-child(2)::after {
    content: '）';
}

.a-hover {
    text-decoration: none;
    color: #37a;
}

.title-top span:nth-child(2) {
    font-size: 12px;
}

.title-top span:nth-child(1) {
    color: #072;
    font-size: 15px;
}

.a-hover:hover {
    text-decoration: none;
    background-color: #37a !important;
    color: #ffffff !important;
}

.new .new-content .img-list ul li {
    list-style: none;
    width: 150px;
    font-size: 12px;
    margin: 10px 0 10px 10px;
    vertical-align: top;
    display: inline-block;
}

.new .new-content .img-list ul li img {
    width: 100%;
}

.new .new-content .img-list ul li a {
    margin-right: 10px;
    line-height: 25px;
}

.new .span-color {
    line-height: 25px;
}

.right .right-img {
    width: 100%;
}

.right .right-img img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.new-right .ul-li ul li {
    list-style: none;
    margin: 5px 0 0 0;
}

.new-right .ul-li ul li a {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}

.new-right .ul-li ul li span {
    font-size: 13px;
}

.new-main .main-ul li {
    list-style: none;
    font-size: 12px;
    line-height: 1.62;
    margin-top: 13px;
}

.color999 {
    color: #999;
}

.color666 {
    color: #666;
}

.hide-p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* 新闻区域样式 结束 */

/* 豆瓣时间区域样式 开始 */
.time {
    background-color: #f7f7f7;
    padding: 40px 0 20px;
}

.item-list ul li {
    width: 100px;
    vertical-align: top;
    margin-right: 60px;
    margin-bottom: 30px;
    list-style: none
}

.item-list ul li a img {
    height: 141px;
}

.item-list ul li:nth-child(5n) {
    margin-right: 0;

}

.item-list {
    margin-top: 12px;
    margin-left: 100px;
}

.item-list ul li p a {
    color: #333333;
    font-size: 13px;
    line-height: 1.38
}

.item-list ul li span {
    color: #999999;
    line-height: 1;
    margin-top: 10px;
    font-size: 12px;
}

/* 豆瓣时间区域样式 结束 */

/* 视频区域样式 开始 */
.movie .movie-list ul li>a {
    display: inline-block;
    width: 250px;
    height: 140px;
    background: url('../img/y1.jpg') no-repeat center/100% 100%;
}

.movie .movie-list {
    margin-left: 100px;
    margin-top: 15px;
}

.movie {
    padding: 10px 0;
    margin-bottom: 30px;
}

.movie .movie-list ul li>p>a {
    font-size: 13px;
    line-height: 1.54;
    color: #494949;
}

.movie .movie-list ul li {
    margin-right: 30px;
}

/* 视频区域样式 结束 */

/* 视频区域样式 开始 */
.movie .movie-list ul li>a {
    display: inline-block;
    width: 100%;
    height: 140px;
    background: url('../img/y1.jpg') no-repeat center/100% 100%;
}

.movie .movie-list {

    margin-top: 15px;
}

.movie {
    padding: 10px 0;
    margin-bottom: 30px;
}

.movie .movie-list ul li>p>a {
    font-size: 13px;
    line-height: 1.54;
    color: #494949;
}

.movie .movie-list .ul-list li {
    margin-right: 30px;
    width: 220px;
}


.movie-list>ul>li>div {
    margin-bottom: 15px;
}

.movie-list .ul-list li:nth-child(3n) {
    margin-right: 0;
}

.movie .movie-list .ul-list li p {
    margin-top: 10px;
    color: #c3c3c3;
}

.movie .movie-list .ul-list li p a {
    color: #494949;
}

/* 视频区域样式 结束 */
