<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header class="header contenter clearfix">
        <div class="header-left left">
            <h1>
                <a href=""></a><span>豆瓣</span>
            </h1>
        </div>
        <div class="header-main left">
            <input type="text" placeholder="书籍,电影,音乐,小组,小站,成员">
            <div>
                <img src="../img/search.png" alt="">
            </div>
        </div>
        <div class="header-right right">
            <ul class="clearfix">
                <li>
                    <a href="" class="img1"></a>
                </li>
                <li>
                    <a href="" class="img2"></a>
                </li>
                <li>
                    <a href="" class="img3"></a>
                </li>
                <li>
                    <a href="" class="img4"></a>
                </li>
                <li>
                    <a href="" class="img5"></a>
                </li>
                <li>
                    <a href="" class="img6"></a>
                </li>
                <li>
                    <a href="" class="img7"></a>
                </li>
                <li>
                    <a href="" class="img8"></a>
                </li>
            </ul>
        </div>
    </header>
    <div class="app clearfix">
        <div class="contenter">
            <div class="app-right right">
                <iframe src="./login.html" frameborder='0' width="300" height="300"></iframe>
            </div>
            <div class="app-left1 right">
                <h1>豆瓣 6.0</h1>
                <button type="button">下载豆瓣 App</button>
                <img src="../img/icon_qrcode_green.png" alt="">
            </div>

        </div>
    </div>
    <div class="new contenter">
        <div class="title-img">
            <img src="../img/file-1.jpg" alt="">
        </div>
        <div class="new-content clearfix">
            <div class="left new-left">
                <div class="title-top">
                    <span>热点内容 . . . . . . </span>
                    <span><a href="">更多</a></span>
                </div>
            </div>
            <div class="right new-right"></div>
            <div class="new-main">11</div>
        </div>
    </div>
</body>

</html>