<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header class="header contenter clearfix">
        <div class="header-left left">
            <h1>
                <a href=""></a><span>豆瓣</span>
            </h1>
        </div>
        <div class="header-main left">
            <input type="text" placeholder="书籍,电影,音乐,小组,小站,成员">
            <div>
                <img src="../img/search.png" alt="">
            </div>
        </div>
        <div class="header-right right">
            <ul class="clearfix">
                <li>
                    <a href="" class="img1"></a>
                </li>
                <li>
                    <a href="" class="img2"></a>
                </li>
                <li>
                    <a href="" class="img3"></a>
                </li>
                <li>
                    <a href="" class="img4"></a>
                </li>
                <li>
                    <a href="" class="img5"></a>
                </li>
                <li>
                    <a href="" class="img6"></a>
                </li>
                <li>
                    <a href="" class="img7"></a>
                </li>
                <li>
                    <a href="" class="img8"></a>
                </li>
            </ul>
        </div>
    </header>
    <div class="app clearfix">
        <div class="contenter">
            <div class="app-right right">
                <iframe src="./login.html" frameborder='0' width="300" height="300"></iframe>
            </div>
            <div class="app-left1 right">
                <h1>豆瓣 6.0</h1>
                <button type="button">下载豆瓣 App</button>
                <img src="../img/icon_qrcode_green.png" alt="">
            </div>

        </div>
    </div>
    <div class="new contenter">
        <div class="title-img">
            <img src="../img/file-1.jpg" alt="">
        </div>
        <div class="new-content clearfix">
            <div class="left new-left">
                <div class="title-top">
                    <span>热点内容 . . . . . . </span>
                    <span><a href="" class="a-hover">更多</a></span>
                </div>
                <div class="img-list">
                    <ul class="clearfix">
                        <li>
                            <img src="../img/p1.webp" alt="">
                            <a href="" class="a-hover">大部分是自己的作业相册</a><span class="span-color color999">19张照片</span>
                        </li>
                        <li>
                            <img src="../img/p2.webp" alt="">
                            <a href="" class="a-hover">孤独宇航员</a>
                            <span class="span-color color999">121张照片</span>
                        </li>
                        <li>
                            <img src="../img/p3.webp" alt="">
                            <a href="" class="a-hover">必须是红红的必须是圆圆的</a>
                            <span class="span-color color999">54张照片</span>
                        </li>
                        <li>
                            <img src="../img/p4.webp" alt="">
                            <a href="" class="a-hover">废墟废弃剧院</a>
                            <span class="span-color color999">37张照片</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="right new-right">
                <div class="right-img">
                    <img src="../img/e1.jpg" alt="">
                </div>
                <div>
                    <div class="title-top">
                        <span>热点话题 . . . . . . </span>
                        <span><a href="" class="a-hover">去话题广场</a></span>
                    </div>
                    <div class="ul-li">
                        <ul>
                            <li>
                                <p><a href="" class="a-hover">晒出你的叔影音月度小结对方水电费阿斯顿是的发生的法法师打发萨芬的啊舒服撒发送到</a></p>
                                <p><span class="span-color color999">334.9万次浏览</span>
                            </li>
                            </p>
                            <li>
                                <p><a href="" class="a-hover">豆瓣VLOG大赛·圣地巡礼</a></p>
                                <p><span class="span-color color999">37.8万次浏览</span></p>
                            </li>
                            <li>
                                <p><a href="" class="a-hover">记录我的每月收支流水</a></p>
                                <p><span class="span-color color999">125.1万次浏览</span></p>
                            </li>
                            <li>
                                <p><a href="" class="a-hover">您喜爱的京味儿文学</a></p>
                                <p><span class="span-color color999">10.6万次浏览</span></p>
                            </li>
                            <li>
                                <p><a href="" class="a-hover">我的长假补片计划</a></p>
                                <p><span class="span-color color999">34.6万次浏览</span></p>
                            </li>
                            <li>
                                <p><a href="" class="a-hover">我家是个博物馆</a></p>
                                <p><span class="span-color color999">99.8万次浏览</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="new-main">
                <ul class="main-ul">
                    <li>
                        <p>
                            <a href="" class="a-hover">不完全纪实（五）-----我在山里住了几天</a>
                            <p class="color999">white noise的日记</p>
                            <p class="color666 hide-p">不知道什么时候开始，很喜欢山。 之前还在工作的时候，周末一有时间就去爬山，季节叫撒的护发素空间的粉红色看到</p>
                        </p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">北岛 | 特朗斯特罗默（二）</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">林芝行纪（一）：遥远的米拉山口，宁静的巴松措绿</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">山松子落，野寺隔云峰</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">调研考察 第一站：沅陵</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">不告之别</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">索尼会第三次玩死《蜘蛛侠》电影吗？</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">谁能想到，2019年俩大叔掀起了国潮：中年人燥起来太要命！</a></p>
                    </li>
                    <li>
                        <p><a href="" class="a-hover">从草原到森林——这可能是豆瓣最绿的一篇日记了</a></p>
                    </li>
                    <li>
                        <p>
                            <a href="" class="a-hover">“英语起源于中国”？英国学者在三百年前也曾有过同样的结论</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="time">
        <div class="contenter">
           <a href="#" class="h2-class">豆瓣时间</a>
            <div class="title-top inline-block">
                <span>热门专栏 . . . . . . </span>
                <span><a href="" class="a-hover">更多</a></span>
            </div>
        </div>
    </div>
</body>

</html>